$accent: #78e3eb;
$enable-shadows: true;
$theme-colors: (
    "custom": $accent,
);
@import "~bootstrap/scss/bootstrap.scss";

body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#191d30+0,394067+50,191d30+100 */
    background: #191d30; /* Old browsers */
    background: -moz-linear-gradient(
        left,
        #191d30 0%,
        #394067 50%,
        #191d30 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        left,
        #191d30 0%,
        #394067 50%,
        #191d30 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to right,
        #191d30 0%,
        #394067 50%,
        #191d30 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d30', endColorstr='#191d30',GradientType=1 ); /* IE6-9 */
}

.accent {
    color: $accent;
}

.field-background,
.field-background:focus,
.field-background:active {
    background-color: rgba(255, 255, 255, 0.6);
}

.cut-corner {
    position: relative;
    border-left: 1px solid #78e3eb;
    overflow: hidden;
}
.cut-corner:after,
.cut-corner:before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0px;
    z-index: -1;
}
.cut-corner:before {
    height: 25px;
    top: 0px;
    border: 1px solid $accent;
    border-width: 2px 4px 0px 0px;
    transform: skew(45deg);
    transform-origin: right bottom;
    width: calc(100% + 1px);
}
.cut-corner:after {
    height: calc(100% - 25px);
    bottom: 0px;
    border: 1px solid $accent;
    border-width: 0px 3px 1px 0px;
}

.custom-select {
    background-color: #77b300;
    border-color: #77b300;
    color: #fff;
}

.background {
    z-index: -1;
}

.foreground {
    position: absolute;
    width: 100%;
    height: 100%;
}

.text-shadow {
    text-shadow: 1px 1px black;
}
